@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

html, body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
        height: 100%;
        background-color: aqua;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "header"
                            "container"
                            "container"
                            "footer";
}


@media screen and (max-width:480px) {
    .container{
        width: 100%;
            height: 100%;
            background-color: aqua;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-areas: "header"
                                "container"
                                "container"
                                "footer";
    }

    .logo img{
        width: 100px;
    }

    .play{
        text-align: left;
        margin: 10px;
    }

    .play img{
        width: 200px;
    }
    .footer{
        grid-area: footer;
        flex-direction: column;
    }
    
    .footer img{
        width: 200px;
    }
    
}

.header{
    grid-area: header;
    background-color: #ffcc00;
    padding: 10px;
    min-height: 100vh;
}

.play{
    padding: 20px;
}

.label{
    font-weight: 300;
    font-size: 16px;
}

.artist{
    font-weight: 500;
    font-size: 3.5rem;
    padding-top: 20px;
}

.artist{
    font-size: 30px;

}

.div1{
    grid-area: container;
    background-color: #660099;
}

.div2{
    grid-area: container;
    background-color: #660099;
}


.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
}

.col-sm1, .col-sm2{
    flex-grow: 1;
    padding: 80px;
}

.col-sm1{
    background-color: #660099;
}

.col-sm2{
    background-color:#ff3333;
}

.mouth, .arrow{
    text-align: center;
}

/* .container div{
    background-color: blueviolet;
    width: 100%;
    height: 100px;
} */